@import url('https://fonts.googleapis.com/css?family=Cantarell|Share+Tech+Mono');

/* big parts */
body{
	margin: 0;
	padding: 0;
	position: relative;
	line-height:1.6;
	font-size: 16px;
	color:#444;
	font-family: Cantarell, sans-serif;
	height: 100vh;
}

header{
	position: relative;
	z-index: 10;
	background: #444;
	box-shadow: 0 0 5px #444;
	color: #fff;
	margin: 0;
}

h1, aside h2{
	height: 32px;
	font-size: 24px;
	padding: 5px;
	margin: 0;
}

h1 a{
	color: #fff;
	text-decoration: none;
	display: block;
}

footer{
	margin-left: 230px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
}

footer div.footer-part{
	flex: 0 0 300px;
	border: 1px dashed #fff;
	box-shadow: 0 0 5px #444;
	background: #ddd;
	padding: 5px;
	margin: 5px;
}

footer li{
	list-style: none;
}

footer a{
	display: block;
}

footer li:hover{
	list-style: disc;
}

section{
	margin: 0 10px 0 230px;
}

/* aside */
aside{
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	background: #444;
	box-shadow: 0 0 5px #444;
	color: #fff;
	padding: 0 10px;
}

.menu{
	display: none;
}

.menu.current{
	display: block;
}

aside > div a{
	display:block;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	border-bottom: 2px solid #088;
}

aside > div a:hover, aside nav a.curMenu{
	color: #444;
	background: #FFF;
}

aside nav a.curMenu::before{
	content: '> ';
	color: #088;
	font-weight: bold;
}

a[href^="#translate"] img{
	height: 1em;
}

/* aside top arrow link */
a[href="#top"]{
	position:fixed;
	bottom: 0;
	width: 150px;
	display: block;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

a[href="#top"]:hover{
	color: #088;
}

/* next page button */
a[href="#next"]{
	width: 150px;
	display: block;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	background: #444;
	box-shadow: 0 0 5px #444;
	margin: 10px auto;
	text-align: center;
}

a[href="#next"]:hover{
	color: #088;
}

/* cards */
div.cards{
	display: flex;
	flex-wrap: wrap;
}

div.cards div.card{
	position: relative;
	flex: 0 0 300px;
	height: 80px;
	padding: 5px;
	margin: 5px;
	border: 1px dashed #fff;
	box-shadow: 0 0 5px #444;
	background: #ddd;
}

div.cards div.card .card-left{
	float: left;
	max-width: 20%;
	height: 80px;
}

div.cards div.card div.card-ct h3{
	clear: none;
	margin: 0;
}

/* stars */
div.cards div.card div.stars{
	position: absolute;
	top: 2px;
	right: 2px;
	font-family: 'Share Tech Mono', monospace;
	color: #ff0;
	text-shadow: 0 0 1px #444;
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
}

/* elements */
h1, h2, h3{
	line-height:1.2;
	font-family: 'Share Tech Mono', monospace;
	clear: both;
}

a{
	color: #088;
	text-decoration: none;
}

article img{
	display: block;
	max-width: 300px;
	max-height: 300px;
	margin: 5px;
}

pre, code{
	border-radius: 3px;
	background: #ddd;
	padding: 0 3px;
	font-family: 'Share Tech Mono', monospace;
}

table{
	margin: 1em;
	border-collapse: collapse;
}

table tr{
	border-bottom: 1px solid #444;
} 

