@import url('https://fonts.googleapis.com/css?family=Cantarell|Share+Tech+Mono');

body{
	margin: 0;
	padding: 0;
	line-height:1.6;
	font-size:18px;
	color:#444;
	position: relative;
	max-width: 100%;
	font-family: Cantarell, sans-serif;
}

section{
	margin-left: 200px;
	max-width:650px;
}

article{
	padding:0 10px;
	border-left: 2px solid #444;
}

h1,h2,h3{
	line-height:1.2;
	font-family: 'Share Tech Mono', monospace;
}

h1:hover a::after, article:hover h2::after{
	content: '_';
}

header{
	background: #444;
	color: #FFF;
	height: 3em;
	max-width: 100%;
	margin: 0;
	padding: 0 10px;
}

header h1 a{
	color: #FFF;
	text-decoration: none;
	display: block;
}

header h1{
	margin: 0;
}

aside{
	position: absolute;
	left: 0;
	top: 3em;
	width: 150px;
	background: #444;
	color: #FFF;
	padding: 0 10px;
	height: 100%;
}

aside a{
	display:block;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #088;
}

aside a::before{
	content: '§ ';
	color: #444;
}

aside a:hover{
	color: #444;
	background: #FFF;
	border-radius: 5px;
}

aside a:hover::before{
	color: #088;
}

p:hover::after{
	content: '¶';
	color: #088;
}

section a:link{
	color: #088;
}
