/*@import url('https://fonts.googleapis.com/css?family=Cantarell|Share+Tech+Mono');*/

/* big parts */
body{
	margin: 0;
	padding: 0;
	position: relative;
	line-height:1.6;
	font-size:18px;
	color:#444;
	font-family: Cantarell, sans-serif;
}

header{
	background: #444;
	color: #FFF;
	height: 50px;
	margin: 0;
	padding: 0 10px;
	border-bottom: 2px solid #088;
}

header h1{
	margin: 0;
}

header h1 a{
	color: #FFF;
	text-decoration: none;
	display: block;
}

section{
	margin-left: 200px;
}

article{
	padding:0 10px;
	margin: 20px 0;
	border-left: 2px solid #444;
	display: none;
}

.current{
	display: block;
}

div.menu{
	display: none;
}

aside{
	position: absolute;
	left: 0;
	top: 50px;
	width: 150px;
	background: #444;
	border-right: 2px solid #088;
	color: #FFF;
	padding: 0 10px;
	height: 100%;
}

div.menu{
	width: 150px;
}

div.menu a{
	display:block;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #088;
}

div.menu a::before{
	content: '§ ';
	color: #444;
}

div.menu a:hover{
	color: #444;
	background: #FFF;
	border-radius: 5px;
}

div.menu a:hover::before{
	color: #088;
}

footer{
	position:fixed;
	width: 150px;
	bottom: 0;
}

footer a{
	display: block;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
}

footer a:hover{
	color: #088;
}

h1,h2,h3{
	line-height:1.2;
	font-family: 'Share Tech Mono', monospace;
}

h1:hover a::after, h2:hover::after{
	content: '_';
}

p:hover::after{
	content: '¶';
	color: #088;
}

section a:link{
	color: #088;
	text-decoration: none;
}

article img{
	max-width: 300px;
	max-height: 300px;
}

pre, code{
	border-radius: 3px;
	background: #DDD;
	padding: 0 3px;
	font-family: 'Share Tech Mono', monospace;
}

