@import url('https://fonts.googleapis.com/css?family=Cantarell|Share+Tech+Mono');

/* big parts */
body{
	margin: 0;
	padding: 0;
	position: relative;
	line-height:1.6;
	color:#444;
	font-family: Cantarell, sans-serif;
	height: 100vh;
}

header{
	position: relative;
	z-index: 10;
	background: #444;
	color: #FFF;
	height: 50px;
	margin: 0;
	padding: 0 10px;
}

h1{
	margin: 0;
	height: 40px;
	padding: 5px;
}

h1 a{
	color: #FFF;
	text-decoration: none;
	display: block;
}

section{
	margin-left: 220px;
}

/* styling the article */
article{
	padding:0 10px;
	margin: 10px;
	border-left: 2px solid #444;
	display: none;
}

article.current, div.menu.current{
	display: block;
}

/* aside */
aside{
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	background: #444;
	color: #FFF;
	padding: 10px;
}

aside h1{
	font-size: 24px;
}

aside > div.menu{
	display: none;
}

aside > div a{
	display:block;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #088;
}

aside a::before{
	content: '§ ';
	color: #444;
}

aside > div a:hover, nav a.curMenu{
	color: #444;
	background: #FFF;
	border-radius: 5px;
}

aside > div a:hover::before, nav a.curMenu::before{
	color: #088;
}

a[href="#translate"] img{
	height: 1em;
}

/* aside top arrow link */
a[href="#top"]{
	position:fixed;
	bottom: 0;
	width: 150px;
	display: block;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
}

a[href="#top"]:hover{
	color: #088;
}

/* elements */
h1,h2,h3{
	line-height:1.2;
	font-family: 'Share Tech Mono', monospace;
}

h1:hover a::after, h2:hover::after{
	content: '_';
}

p:hover::after{
	content: '¶';
	color: #088;
}

a{
	color: #088;
	text-decoration: none;
}

article img{
	max-width: 300px;
	max-height: 300px;
}

pre, code{
	border-radius: 3px;
	background: #DDD;
	padding: 0 3px;
	font-family: 'Share Tech Mono', monospace;
}

